[Unit]
Description=Show SMS notifications

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
ExecStart=%h/bin/smsnotifier -l DEBUG

[Install]
WantedBy=graphical-session.target
